Client/node_modules
# ^^^^^^^ ?
Server/run.bat
Server/node_modules
Server/lib/node_modules
Server/lib/Web/public/js/**
!Server/lib/Web/public/js/jquery.js
!Server/lib/Web/public/js/in_search.js
!Server/lib/Web/public/js/in_kkutu.min.js
!Server/lib/Web/public/js/fabric.min.js
!Server/lib/Web/public/js/diff-match-patch-compressed.js
Server/lib/sub/auth.json
Server/lib/sub/global.json
.vscode
.vscodes
Server/lib/Web/public/media/NanumBarunGothicLight...woff

# db search
# but html is not used
Server/lib/Web/public/words/
Server/lib/Web/public/daneodb/theme_search.html
Server/lib/Web/public/daneodb/list.txt


# ssl
Server/ca_bundle.crt
Server/certificate.crt
Server/private.key
Server/fullchain.pem

# log
Server/web.log
Server/game.log
Server/game0.log
Server/game1.log
Server/game*.log
Server/web*.log
web.log
game.log

# notice
Server/lib/Web/public/global_notice.html

# etc
Server/lib/package-lock.json.bak
Server/lib/Web/public/media/kkutu/LobbyBGM.mp3
Server/lib/Web/public/media/kkutu/LobbyBGM.back.mp3
Server/lib/Web/public/media/kkutu/Lobbylza.mp3
Server/lib/Web/public/media/kkutu/LobbySeolBGM.mp3
Server/lib/Web/views/*copy.pug
Server/lib/Web/public/css/*copy.css
Server/data/kkutuhot.json
Server/data/nginx/default copy
minitunnel
words.sql
